<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> ESM</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/1.ico')}}">
    </head>

    <body background="{{url_for('static', filename='images/2.jpg')}}">
        <header>
            <div class="header">
              <a href="#" class="logo">About</a>
              <div class="header-right">
                  <form action="/" method="get"><a href="/">Home</a></form>
                  <form action="/index" method="get"><a href="/index">Index</a></form>
                  <form action="/about" method="get"><a class="active" href="/about">About</a></form>
              </div>
            </div> 
        </header>
        <div class="item active testing-caption">
            <p style="margin-left: 10px; margin-right: 10px;">
                Este proyecto es usado para la resolución del problema del ISO (The ISO 's problem)
                citado en el documento ELECTRICITY SPOT MARKET WITH TRANSMISSION LOSSES . Nuestra aplicación consta de un home,
                un index, la página results y el propio about. En el index primero se escribe el 
                valor de N, que es el tamaño de las matrices A, B y L. Luego presionamos el 
                botón "create matrix", el cual crea las tres matrices mencionadas anteriormente. 
                En el caso de L, debemos poner en la casilla i,j la pérdida térmica de la línea i,j. 
                Si los agentes i,j no están enlazados, entonces este valor en la matriz es -1. El siguiente 
                paso sería establecer el tipo de variable aleatoria para la distribución de las demandas, 
                y sus valores ( recordar que los valores de las probabilidades deben ser entre 0 y 1 ).  
                Finalmente para obtener las matrices q y T se presiona el botón "get results".
            </p>
            <p style="margin-left: 10px; margin-right: 10px;">
                Como podemos ver, también existe el botón "get result from excel", que es para obtener
                las matrices q y T tomando los valores desde el excel "input.xls". Estos valores están 
                escritos en 4 hojas de excel. En la primera se escribe el valor de N, en la segunda los 
                valores de las matrices A y B, en la tercera los valores de la matriz L y en la cuarta 
                el tipo de variable aleatoria y sus correspondientes valores en líneas sucesivas. Aquí tener en cuenta que 
                las matrices A y B tienen que ser de dimensión 1xN y la matriz L de dimensión NxN. Cuando la variable
                sea por intervalos la cantidad de demandas tiene que ser de tamaño N y los valores se escriben igual 
                que en la aplicación.
            </p>
            <p style="margin-left: 10px; margin-right: 10px;">
                Notar que también existe un archivo llamado "output.txt", el cual contiene todos los 
                resultados que se han ido obteniendo con la ejecución de la aplicación.
            </p>
        </div>
    </body>
</html>