<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> ESM</title>
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
        
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link id="css-preset" rel="stylesheet" href="{{url_for('static', filename='css/presets/preset1.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">

        <link rel="shortcut icon" href="{{url_for('static', filename='images/1.ico')}}">
    </head>

    <body>
        <!--.preloader-->
        <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
        <!--/.preloader-->

        <header id="home">

            <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active" style="background-image: url(../static/images/4.jpg)">
                    <div class="caption">
                      <h1 class="animated fadeInLeftBig"><span>ELECTRICITY SPOT MARKET</span></h1>
                      <p class="animated fadeInRightBig">TRANSMISSION LOSSES - AIMS' Journals</p>
                      <form action="/index" method="get"><a data-scroll class="btn btn-start animated fadeInUpBig" href="/index">Start now</a></form>
                    </div>
                  </div>
                </div>
            </div><!--/#home-slider-->
            
        </header>

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.inview.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
       
    </body>
</html>