<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> ESM</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/1.ico')}}">
    </head>

    <body background="{{url_for('static', filename='images/2.jpg')}}">
        <header>
            <div class="header">
              <a href="#" class="logo">About</a>
              <div class="header-right">
                  <form action="/" method="get"><a href="/">Home</a></form>
                  <form action="/index" method="get"><a href="/index">Index</a></form>
                  <form action="/about" method="get"><a class="active" href="/about">About</a></form>
              </div>
            </div> 
        </header>
        <div class="item active testing-caption">
            <p>
                Este proyecto es usado para la resolucion de un modelo de optimizacion 
                citado en el libro Electricity-Spot-Market. Nuestra app consta de un home,
                un index, la pagina results y el propio about. En el index primero se escribe el 
                valor de N, que es el tamanno de de las matrices A, B y L. Luego presionamos el 
                boton "create matrix", el cual crea las tres matrices mencionadas anteriormente. El 
                siguiente paso seria establecer tipo de variable aleatoria y sus valores. Finalmente 
                para obtener las matrices q y T se presiona el boton "get results".
            </p>
            <p>
                Como podemos ver tambien existe el boton "get result from excel", que es para obtener
                las matrices q y T tomando los valores desde el excel "input.xls". Estos valores estan 
                escritos en 4 hojas de excel. En la primera se escribe el valor de N, en la segunda los 
                valores de las matrices A y B, en la tercera los valores de la matriz L y en la cuarta 
                el tipo de variable aleatoria y sus correspondientes valores. Aqui tener en cuenta que 
                las matrices A,B tienen que ser de dimension N y la matriz L de dimension NxN.
            </p>
            <p>
                Notar que tambien existe un archivo llamado "output.txt", el cual contiene todos los 
                resultados que se han ido obteniendo con la ejecucion de la aplicacion.
            </p>
        </div>
    </body>
</html>