<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> ESM</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main2.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/1.ico')}}">
    </head>
    <body background="{{url_for('static', filename='images/1.jpg')}}">
      <header>
        <div class="header">
          <a href="#" class="logo">Index</a>
          <div class="header-right">
              <form action="/" method="get"><a href="/">Home</a></form>
              <form action="/index" method="get"><a class="active" href="/index">Index</a></form>
              <form action="/about" method="get"><a href="/about">About</a></form>
          </div>
        </div> 
      </header>
        <div class="all">
          <form action="" method="POST" class="form">
              <input type="number" required="true" min="1" id="n" name="n" placeholder="N" /> N <br />
              
              <input type="button" id="btn_create" value="Create matrix" onclick="create()"/> <br />
          
              <div id="a_matrix" required="true"></div>  <br />
              <div id="b_matrix" required="true"></div> <br />
              <div id="l_matrix" required="true"></div> <br />

              <label for="variable">Choose a variable:</label>
              <select name="variable" id="variable" value="" onclick="create_params()">
                <optgroup label="Ninguna">
                  <option value="none">ninguna</option>
                <optgroup label="Discreta">
                  
                  <option value="binary">binomial</option>
                  <option value="geometric">geometrica</option>
                </optgroup>
                <optgroup label="Continua">
                  <option value="uniform">uniforme</option>
                  <option value="exponential">exponencial</option>
                  <option value="gamma">gamma</option>
                  <option value="normal">normal</option>
                </optgroup>
                <optgroup label="Escenario">
                  <option value="scenaries">escenario
                  </option>
                </optgroup>
              </select>
              
              <div id="params"></div> <br />
              <div id="intervals"></div> <br />
              
              <button type="submit" class="formsubmit" onclick="check_results(event)">
                Get results
              </button>
              
              

          </form>
        </div>
      <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/file.js')}}"></script>

    </body>

</html>
